@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body {
  
  font-family: var(--font-sans), sans-serif;
} */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: auto !important;
}
body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .container {
    @apply lg:max-w-5xl;
  }
}

@layer base {
  .nav-item {
    @apply px-4 py-1.5 rounded-full text-white/70 text-sm font-semibold hover:bg-white/10 hover:text-white transition duration-300;
  }

  .hero-ring {
    @apply absolute inset-0 border-2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border-emerald-300/5 shadow-[0_0_80px_inset] shadow-emerald-300/5;
  }

  .staricon {
    @apply size-28;
  }
}
.mask-gradient {
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}

.mask-gradientbottom {
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent,
    black 10%,
    black 70%,
    transparent
  );
  mask-image: linear-gradient(
    to bottom,
    transparent,
    black 10%,
    black 70%,
    transparent
  );
}
.mask-radial-gradient {
  mask-image: radial-gradient(50% 50% at bottom center, black, transparent);
}

.animation-duration {
  animation-duration: 30s;
}

.animation-duration15 {
  animation-duration: 15s;
}

.animation-durationcards {
  animation-duration: 90s;
}

/* Add in globals.css */
